.about {
    &__paragraph {
        padding-left: 96px;
    }

    &__container {
    }

    &__content {
        display: flex;
    }

    &__text {
        position: relative;
        padding-bottom: 200px;
        z-index: 0;
    }

    &__textblock {
        box-sizing: border-box;
        width: 500px;
        height: 476px;
        border: 1px solid #343434;
        border-radius: 10px;
        padding: 31px 27px 0px 27px;
        h4 {
            font-weight: 700;
            font-size: 20px;
            line-height: 25/20*100%;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
        p:first-of-type {margin-bottom: 60px;}
    }

    &__mission {
        position: absolute;
        width: 542px;
        height: 117px;
        top: 540px;
        left: 100px;
        background: radial-gradient(103.66% 103.66% at 50% 50%, #93D0FC 0%, rgba(147, 208, 252, 0.63) 100%);
        opacity: 0.8;
        
        border-radius: 9.94286px;
        
        /*&::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 542px;
            height: 117px;
            background: linear-gradient(89.85deg, rgba(147, 208, 252, 0.3) 0.1%, rgba(210, 166, 255, 0.3) 95.31%);
            box-shadow: inset 0px 0px 9px rgba(255, 255, 255, 0.35);
            backdrop-filter: blur(1px);
            z-index: 2;
        }*/
    }
    &__mission::before {
        content: "";
        z-index: -1;
        position: inherit;
        left: inherit;
        top: inherit;
        width: inherit;
        height: inherit;
        background: inherit;
        background-size: cover;
        filter:blur(100px);
       
    }

    &__missionLabels  {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        color: #FFFFFF;
    }

    &__images {
    }

    &__macbook {
    }

    &__btn {
    }

    &__sign {
    }

    &__arrow {
    }
}


