.about {
    &__paragraph {
        padding-left: 96px;
    }

    &__container {
    }

    &__content {
        display: flex;
    }

    &__text {
        position: relative;
        padding-bottom: 200px;
        z-index: 0;
    }

    &__textblock {
        position: relative;
        box-sizing: border-box;
        width: 500px;
        height: 476px;
        border: 1px solid #343434;
        border-radius: 10px;
        padding: 31px 27px 0px 27px;
        margin: 58px 0px 0px 21px;
        h4 {
            font-weight: 700;
            font-size: 20px;
            line-height: 25/20*100%;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 20px;
        }
        p:first-of-type {margin-bottom: 60px;}
        &::before {
            content: url(/img/about/keys.png);
            position: absolute;
            top: -35px;
            left: -95px;
        }
    }

    &__mission {
        position: absolute;
        width: 542px;
        height: 117px;
        top: 595px;
        left: 100px;        
        border-radius: 5% / 50%;
    }
    
    &__missionBG {
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        background: radial-gradient(103.66% 103.66% at 50% 50%, #93D0FC 0%, rgba(147, 208, 252, 0.63) 100%);
        background-size:cover;
        z-index:10;
        border-radius: 5% / 50%;
        -webkit-filter: blur(50px);
        -moz-filter: blur(50px);
        -o-filter: blur(50px);
        -ms-filter: blur(50px);
        filter: blur(50px);
        opacity: 0.8;
    }  

    &__missionBG2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 542px;
            height: 117px;
            background: linear-gradient(89.85deg, rgba(147, 208, 252, 0.3) 0.1%, rgba(210, 166, 255, 0.3) 95.31%);
            box-shadow: inset 0px 0px 9px rgba(255, 255, 255, 0.35);
            -webkit-backdrop-filter: blur(50px);
            -moz-backdrop-filter: blur(50px);
            -o-backdrop-filter: blur(50px);
            -ms-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);
            border-radius: 4% / 50%;
            z-index: 5;
    }

    &__missionLabels  {
        position: relative;
        z-index: 100;
        color: #FFFFFF;
        h3 {
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 0.015em;
            padding: 18px 0px 0px 48px;
        }
        p {padding: 0px 34px 0px 48px;}
    }

    &__images {
        position: relative;
        background-image: url(/img/about/iskry.png);
        background-size: contain;
        margin: 0px 0px 0px 121px;
        padding-top: 56px;
        padding-right: 327px;
    }

    &__macbook {
        &::before {
            content: url(/img/about/arrow.png);
            position: absolute;
            top: 90px;
            left: 515px;
            z-index: 2;
        }
        &::after {
            content: url(/img/about/screen.png);
            position: absolute;
            top: 70px;
            left: 192px;
            z-index: 1;
        }
    }

    &__btn {
        position: absolute;
        width: 97px;
        height: 97px;
        left: 0px;
        top: 0px;
        border: 0.746154px solid #E4B354;
        border-radius: 50%;
    }
    &__btnBackBlur {
        position: absolute;
        left:-36.5px;
        right:0;
        top:-35.5px;
        bottom:0;
        width: 168.71px;
        height: 166.58px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(255, 199, 0, 0.5) 0%, rgba(255, 199, 0, 0) 95.73%);
        mix-blend-mode: lighten;
        filter: blur(93px);
        border-radius: 50%;
    }
    &__btnBrdr1 {
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        width: 97px;
        height: 97px;
        border: 2px solid rgba(228, 179, 84, 0.6);
        filter: blur(14px);
        border-radius: 50%;
    }

    &__btnBrdr2 {
        position: absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        width: 97px;
        height: 97px;
        border: 2px solid rgba(228, 179, 84, 0.6);
        filter: blur(4px);
        border-radius: 50%;
    }

    &__btnCircle {
        position: absolute;
        width: 59.69px;
        height: 59.69px;
        left:25%;
        top:25%;
        background: #FFC700;
        box-shadow: inset 0px 0px 11px #EDFF1E;
        border-radius: 50%;
    }

    &__btnTrngl {
    }



    &__sign {
    }

    &__arrow {
    }
}


