.faq {
    margin-top: 335px;
    position: relative;
    @media (max-width: $md3+px) {
        margin-top: 254px;
    }
    p {
        padding-left: 200px;
        @media (max-width: $md3+px) {padding-left: 0;}
    }
    &__header {position: relative;}
    &__blur {
        position: absolute;
        left: -230px;;
        right:0;
        top: -80px;;
        bottom:0;
        width: 938px;
        height: 207px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(147, 208, 252, 0.25) 0%, rgba(147, 208, 252, 0) 100%);
        filter: blur(69px);
        border-radius:60%;
        @media (max-width: $md3+px) {
            left: -30px;
            top: -40px;
            width: 320px;
            height: 111px;
            filter: blur(23px);
        }
    }
    &__answer {
        display: none;
        width: 960px;
        height: 87px;
        background: #E1E1E1;
        padding: 35px 0px 0px 40px;
        margin-left: 40px;
        border-radius: 0 0 10px 10px;
        p {
            color: #000;
            padding-left: 0;
        }
    }

    &__container {
        @media (max-width: $md3+px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__spoilers {
        padding: 93px 0px 0px 60px;
        @media (max-width: $md3+px) {
            margin-top: 81px;
            padding: 0;
        }
    }

    &__spoiler {
        margin-bottom: 30px;
    }

    &__question {
        display: flex;
        width: 1040px;
        height: 80px;
        background: linear-gradient(90deg, #3E3E3E 0%, #232323 100%);
        border-radius: 10px;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &.active {
            .faq__cross {
            transform: rotate(45deg);
            }
        }
    }

    &__text {
        font-weight: 700;
        font-size: 18px;
        line-height: 22/18*100%;
        text-transform: uppercase;
        color: #FFFFFF;
        padding-left: 40px;
    }

    &__cross {
        width: 0px;
        height: 28px;
        border: 3.2px solid #FFFFFF;
        position: relative;
        border-radius: 50% / 10%;
        left: -40px;
        transition: all 0.3s ease 0s;
        &:after {
        content: "";
        width: 28px;
        height: 0px;
        border: 3.2px solid #FFFFFF;
        position: absolute; 
        left: -14.3px; 
        top: 7.6px;
        border-radius: 10% / 50%;
        }
    }
    &__perehod {
        position: absolute;
        width:1495px;
        top: 720px;
        left: 0;
    }
}
