.footer {

    &__container {
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__message {
        display: flex;
        padding-left: 8 0px;
        img {
            width: 17px;
            height: 17px;
            margin: 0 5px;
            object-fit: contain;
        }
        p {font-weight: 300;}
    }

    &__rights {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: 300;
        font-size: 12px;
        line-height: 15/12*100%;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
}

