

.header {
    
    &__first {
        position: relative;
        
    }
    &__content {
        
        padding: 0px 6px;
        height: 807px;
        max-width: 1215px;
        margin: 0 auto;
        &::after {
            content: url(/img/header/znak_big.png);
            position: absolute;
            top: 0;
            left: 90%;
        }
    }
}

.header {
    

    &__top {
        max-width: 885px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        a {
            text-decoration: none;
            margin: 0 91px 0 0;
            color: #fff;
            p {
               font-family: $ff;
               font-weight: 300;
               font-size: 11px;
               line-height: 13 / 11*100%;
               letter-spacing: 3%;
            }
        }

        .header__topLink1 {
            padding-top: 42px;
            text-align: end;
            p:first-child {
               font-size: 13px;
               font-weight: 700;
               line-height: 16/13*100%;
            }
        }
        
        .header__topLink2 {
            padding-top: 32px;
            margin: 0;
            text-align: center;
            p:first-child {
                font-size: 16px;
                font-weight: 400;
                line-height: 19/16*100%;
        }
    }
}

.header {

    &__hello {
        margin-top: 80px;
    }

    &__main {
        position: relative;
        h1 {
            font-family: $ff;
            font-size: 43px;
            font-weight: 300;
            line-height: 52.4/43*100%;
            letter-spacing: 3%;
            color: #fff;
            text-transform: uppercase;
        }
        p {
            font-family: $ff;
            font-size: 15px;
            font-weight: 400;
            line-height: 18.3/15*100%;
            color: #fff;
        }
        &::before {
            content: url(/img/header/znakU.png);
            position: absolute;
            top: 250px;
            left: 670px;
            z-index: 1;
            filter: blur(3.5px);
        }
    }

    &__message {
        position: relative;
        margin-top: 53px;
        width: 296px;
        height: 70px;
        background: linear-gradient(89.85deg, rgba(147, 208, 252, 0.3) 0.1%, rgba(210, 166, 255, 0.3) 95.31%);
        box-shadow: inset 0px 0px 9px rgba(255, 255, 255, 0.35);
        backdrop-filter: blur(7px);
        /* Note: backdrop-filter has minimal browser support */
        border-radius: 3px;
        transform: skew(-9deg);
        padding: 18px 32px 18px 32px;
        color: #fff;
        .message__inner {
            transform: skew(9deg);
            letter-spacing: 0.6px;
            padding: 0;
            margin: 0;
        }
        &::before {
            content: url(/img/header/znak_small.png);
            position: absolute;
            top: -35px;
            left: -75px;
            transform: rotate(-5deg);
        }
    }

    &__takepart {
        display: flex;
        position: relative;
        margin-top: 70px;
        p {
            margin: 15px auto 23px 90px ;

        }
        a {
            width: 228px;
            height: 63.64px;
            background:#D9E454;
            box-shadow: 0px 0px 11px #D9E454;
            border-radius: 5% / 50%;
            &:hover {background: #F2FF5D;}
            &:active {
                background:#D9E454;
                box-shadow: 0px 0px 11px #D9E454;
            }
            &:disabled {background: #676767;}
            .link__box {
                width: 189px;
                height: 63.64px;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 48.33%, rgba(255, 255, 255, 0) 100%);
                padding: 23.3px 31.5px;
                margin: 0 19.5px;
                font-family: $ff;
                font-size: 14px;
                font-weight: 500;
                line-height: 17/14*100%;
                letter-spacing: 1.4px;
                text-transform: uppercase;
                color: #000;
                &:hover {background: none;}
                &:active {background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 48.33%, rgba(255, 255, 255, 0) 100%);}    
                &:disabled {
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 48.33%, rgba(255, 255, 255, 0) 100%);
                    color: #a7a7a7;
                }
            }
        }
        &::before {
            content: "15 000₸";
            width: 72px;
            height: 24px;
            border: 1px solid #fff;
            color: #fff;
            text-align: center;
            font-size: 13px;
            font-weight: 500;
            padding-top: 4px;
            text-decoration: 2px line-through;
            text-decoration-color: red;
            border-radius: 12px;
            position: absolute;
            top: -10px;
            left: 470px;
            transform: rotate(25deg);
        }
    }
    &__arrow {
        position: relative;
        margin: -20px 0 0 240px;
        width: 110px;
        height: 40px;
        border-bottom: 2px solid #fff;
        border-radius: 0 0 90% 90%;
        &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-top: 1px solid #fff;
            border-left: 1px solid #fff;
            position: absolute;
            top: 23px;
            left: 0px;
        }
    }
}
.header__perehod {
    position: absolute;
    width:1495px;
    height: 654px;
    top: 570px;
    left: 0;
}
.gothic14 {
}
.girl {
    position: absolute;
    top: 105px;
    left: 36%;
}

}



.logo {
    position: relative;
    top: -10px;
    left: 0;
}

/*==============================================================================*/
.header {

    &__second {
        margin-top: 326px;
    }

    &__container {
    }

    &__tasks {
        display: flex;
        margin-top: 89px;
        margin-bottom: 221px;
    }

    &__task {
        position: relative;
        z-index: -2;
        text-align: center;
        color: #fff;
        box-sizing: border-box;
        width: 278px;
        height: 262px;
        border: 1px solid #454545;
        border-radius: 11px;
        &:not(:last-child){margin-right: 163px;}
        &:nth-child(1) {
            p {padding-top: 35px;}
        }
        &::before {
            content: "";
            top: -10px;
            left: 24px;
            position: absolute;
            width: 223px;
            height: 17px;
            background: radial-gradient(50% 50% at 50% 50%, #D2A6FF 0%, rgba(210, 166, 255, 0) 98.85%);
            z-index: -1;
            mix-blend-mode: screen;
            filter: blur(3px);
        }
        h4 {
            margin-top: -32px;
            font-family: $ff;
            font-weight: 600;
            font-size: 50px;
            line-height: 61/50*100%;
            color: #FFFFFF;
            text-shadow: 0px 0px 5px rgba(210, 166, 255, 0.2);
        }
        .imgblock {
            margin: 0 auto;
            width: 215.22px;
            height: 184.28px;
            background: radial-gradient(50% 50% at 50% 50%, rgba(210, 166, 255, 0.5) 0%, rgba(210, 166, 255, 0) 98.85%);
            mix-blend-mode: screen;
            backdrop-filter: blur(29.5281px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                padding-top: 40px ;
            }
        }
        p {
            padding-top: 20px;
        }
    }
}

/*.logo:after {
    content: "";
    width: 280px;
    height: 114px;
    position: absolute;
    top: 0;
    left: 0;
    background: yellow;
    z-index: 1;
    opacity: 0.9;
}



/*.menu{

    &__icon {
    }

    &__body {
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        height: 82px;
        padding: 10px 0;
        align-items: center;
        li { 
            margin: 0px 0px 0px 33px;
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
    }

    /*&__link {
        font-size: 20px;
        font-weight: 500;
        color: #000;
        transition: color 0.3s ease 0s;
        @media (min-width: $md2+px) {
            &:hover{
                color: #ff6464;
            }
        }
    }
}


/*burger
.icon-menu {
    display: none;
    @media (max-width: $md3+px) {
        display: block;
        position: absolute;
        top: 18px;
        right: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: calc(50% - 1px);
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            &:first-child {
                top: 0;
            }
            &:last-child{
                top: auto;
                bottom: 0;
            }
        }
        &._active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: calc(50% - 1px);
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: calc(50% - 1px);
                }
            }
        }
    }
}
*/