.gothic14 {
    font-size: 14px;
    font-weight: 300;
    line-height: 17/14*100%;
    color: #fff;
    @media (max-width: $md3+px) {
        font-size: 10px;
        line-height: 12/10*100%;
    }
}
.montserrat26 {
    font-family: $ff;
    font-size: 26px;
    font-weight: 300;
    line-height: 32/26*100%;
    color: #fff;
    letter-spacing: 0.03em;
    @media (max-width: $md3+px) {
        font-size: 12px;
        line-height: 15px;
    }
}
.montserrat36 {
    font-family: $ff;
    font-size: 36px;
    font-weight: 700;
    line-height: 44/36*100%;
    color: #fff;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media (max-width: $md3+px) {
        font-size: 19px;
        line-height: 23px;
    }
}