.wyget {
    margin-top: 230px;
    &_headers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__container {
    }

    &__content {
    }

    &__paragraph {
        margin-top: 60px;
        font-weight: 300;
        font-size: 17px;
        line-height: 21px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
    }

    &__cards {
        margin-top: 134px;
        margin-left: 90px;
        display: flex;
    }

    &__category {
        background: #E1E1E1;
        border-radius: 11px;
        margin-right: 10px;
        padding: 22px 61px 0px 61px;
        h3 {
            font-weight: 700;
            font-size: 25px;
            line-height: 31/25*100%;
            text-align: center;
            text-transform: uppercase;
        }
        p {
            color: #000;
            margin-bottom: 5px;
            &:nth-of-type(1) {margin-top: 22px;}
        }
    }

    &Cat__A {
        position: relative;
        width: 460px;
        height: 262px;
        &::before {
            content: url(/img/wyget/znak2.png);
            position: absolute;
            top: 135px;
            left: -100px;
            z-index: 2;
            object-fit: contain;
        }
    }

    &Cat__B {
        position: relative;
        width: 439px;
        height: 276px;
        margin: 75px 0px 0px 51px;
        &::after {
            content: url(/img/wyget/wheel.png);
            position: absolute;
            top: -70px;
            left: 350px;
            z-index: 1;
            object-fit: contain;
        }
    }
}


